@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
} 

body{
    background: rgb(244, 243, 243);
    padding-top: 100px;
}

.container {
    background-color: #FFFF;
	max-width: 650px;
	margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
}

h1 {
	font-size: 35px;
	margin-bottom: 20px;
    text-align: center;
    color: #343333;
}

p {
    text-align: center;
}

.calculate {
    padding-top: 45px;
}

.input {
	margin-bottom: 30px;
    width: 500px;
    align-items: center;
    margin-left: 60px;
}

label {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}

input[type="number"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 6px;
}

button {
    cursor: pointer;
    font-size: 15px;
    margin-left: 60px;
	padding: 10px 20px;
	background-color: #113e72;
	color: white;
    border: none;
	border-radius: 4px;
}

button:hover{
    background-color: #3175c2;
}

.result {
	margin-top: 30px;
	font-size: 16px;
	font-weight: bold;
    margin-bottom: 20px;
    color: #343333;
}

#weight_error{
    color: red;
}

#height_error{
    color: red;
}